.subtitle {
  margin-top: 15px;
  margin-bottom: 15px;  
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--color-tundora);
  text-align: center;
}

.units-dropdown {
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid lightgray;
}

.price-input-wrapper {
  margin-bottom: 10px;
}

.price-input-label {
  font-size: 14px;
}

.price-input {
  margin-left: 5px;
  border: 1px solid lightgray;
}
