.container {
  max-width: 90%;
  margin: 0 auto;
  top: 30%;
  background-color: white;
  border-radius: 1px;
  padding: 50px 1rem;
  position: relative;
  box-shadow: 0px 2.5px 10px rgba(44, 64, 90, 0.15);
  backdrop-filter: grayscale(0.5) blur(27.1828px);
}

/* TODO: Handle focus properly */
.container:focus {
  outline: none;
}

.close-btn {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  background: none;
  border: none;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  color: rgba(44, 64, 90, 0.3);
}

.close-btn::after {
  content: '✕';
  display: block;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-indent: 0;
  font-size: 25px;
  line-height: 1;
}
