.container {
  display: flex;
  flex-direction: column;
  height: 100%;  
}

.header {
  display: flex;
  padding-bottom: 6px;
  border-bottom: 1px solid lightgray;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #484848;
}

th {
  min-width: 100px;
}