.host-button {
  margin-left: auto;
  color: white;
  background-color: #484848;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 67px;
  padding: 5px;
}

.unhost {
  color: #484848;
  background-color: #CDCDCD;
}
