.login-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 25px;
}

.login-label {
  margin: 15px 0 6px;
}

.login-button {
  margin-top: auto;
}

.field-error {
  font-size: .9em;
  font-weight: 500;
  color: #a00;
  margin: .3em 0 .0;
}
