.login-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 25px;
}

.form-input {
  margin: 5px;
  border: 1px solid var(--color-gray);
  font-size: 24px;
}

.login-button {
  margin-top: auto;
}
