/* color names come from http://chir.ag/projects/name-that-color/ */

:root {
  --color-tundora: #484848;
  --color-gray: #939393;
  --color-alabaster: #FAFAFA;  
  --color-alto: #DADADA;    
  --color-dove-gray: #6D6C6C;
  --color-sweet-corn: #FBEA8C;
}
