.transaction-list {
  margin: 10px -20px 0;
}

.transaction-row {
  display: flex;
  border-bottom: 1px solid black;
  font-size: 14px;
  padding: 10px 20px 15px;
}

.date-time {
  width: 50px;
  margin-right: 10px;
  font-size: 12px;
}

.date {
  margin-bottom: 5px;
}

.time {

}

.description-cell {
  display: flex;
  flex-direction: column;
}

.story {
  margin-bottom: 3px;
}

.counterparty {
  font-weight: bold;
}

.notes {
  font-style: italic;
  color: var(--color-gray);
}

.actions {
  display: flex;
  flex-direction: column;
}

.button {
  font-weight: normal;
  border: 1px solid black;
  padding: 5px;
  width: 75px;
  margin-bottom: 10px;
}

/* AmountCell */

.amount {
  margin-left: auto;
  margin-right: 10px;
}

.debit {
  color: red;
}

.accept-button {
  composes: button;
  background-color: lightgreen;
}

.pay-button {
  composes: button;
  color: white;
  background-color: lightcoral;
}

.reject-button {
  border: none;
  text-decoration: underline;
  color: #0000EE;
  background-color: var(--color-alabaster);
  font-weight: normal;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  margin-bottom: 10px;
}

.modal-text {
  font-size: 14px;
  margin-bottom: 30px;
}

.modal-counterparty {
  font-weight: bold;
}

.modal-amount {
  font-weight: bold;
}

.modal-buttons {
  margin-top: auto;
  margin-left: auto;
}

.modal-button {
  border: none;
  text-decoration: underline;
  color: #0000EE;
  font-weight: normal;
}

.modal-button-no {
  composes: modal-button;
}

.modal-button-yes {
  composes: modal-button;
  font-weight: bold;
}
