/* Buttons & Icons */

.plus-icon {
  display: inline-flex;
  flex: 1;
  width: 21px;
  height: 21px;
  position: relative;
  top: 5px;
}

.plus-icon-mini {
  composes: plus-icon;
  margin-top: 20px;
}

.button-text {
  display: inline-flex;
  flex: 1;
  font-size: 16px;
  margin-left: 14px;
}

.new-transaction-button {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  height: 32px;
  box-shadow: 0px 2.5px 10px rgba(44, 64, 90, 0.15);
  margin-bottom: 30px;
}

.plus-in-disc {
  margin-top: -3px;
  margin-left: -4px;
}

.view-button {
  font-family: "Circular";
  font-size: 16px;
  color: var(--color-rhino-50);
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.view-button-selected {
  composes: view-button;
  color: var(--color-rhino);
  border-bottom: 2px solid var(--color-caribbean-green);
}

/* Null State */

.null-state-message {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.null-add-icon {
  margin-top: 20px;
}

/* Transaction Row */

.transaction-list {
  margin: 0px;
}

.transaction-row {
  display: flex;
  height: 72px;
  align-items: center;
  border-bottom: 1px solid rgba(44, 64, 90, 0.1);
  font-size: 14px;
  padding: 0 14px;
  background-color: #FFFFFF;
  justify-content: space-between;
  /* width: 80px; */
  transition: transform 1s ease-in-out;
}

.transaction-row-drawer-open {
  padding-left: 4px;
  padding-right: 0px;
}

/* Avatar and Description Cells */

.avatar {
  width: 50px;
  flex: .75;
  margin: 0px 10px;
  font-size: 12px;
  align-self: center;
}

.description-cell {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.counterparty {
  font-size: 14px;
  color: rgba(44, 64, 90, 0.8);
}

.story {
  color: rgba(44, 64, 90, 0.5);
  margin-bottom: 3px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
}

.notes {
  font-style: italic;
  color: var(--color-gray);
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* AmountCell */

.amount-cell {
  display: flex;
  flex: 1.8;
  flex-direction: column;
}

.amount {
  flex: 1;
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  font-size: 14px;
  line-height: 19px;
  word-break: keep-all;
  color: rgba(44, 64, 90, 0.8)
}

.balance {
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  color: var(--color-gray);
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.credit {
  color: #0DC39F;
}

.debit {
  color: #EE4266;
}

.removed {
  text-decoration: line-through;
  color: rgba(44, 64, 90, 0.8);
  opacity: 0.8;
}

.annulled {
  opacity: 0.8;
}

.modal-note-text {
  composes: notes;
  text-transform: none;
}

/* ActionsCell */

.reveal-actions-button  {
  flex: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
  /* align-self: center; */
}

.forward-icon {
  width: 22px;
  height: 22px;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
}

.forward-icon:hover {
  opacity: 1;
}

.actions {
  display: flex;
  flex-direction: row nowrap;
}

.drawer {
  flex: 1;
}

.drawer-close {
  display: flex;
  flex: 0 0 0;
  visibility: visible;
}

.drawer-close .forward-icon{
  visibility: visible;
}

.drawer-close .actions {
  display: none;
}


.action-button {
  border-radius: 0;
  border: 0;
  color: white;
  height: 72px;
  width: 64px;
  font-family: "Circular";
  font-size: 10px;
  text-align: center;
  text-transform: capitalize;
}

.accept-button {
  composes: action-button;
  background-color: var(--color-mountain-meadow);
}

.reject-button {
  composes: action-button;
  background-color: var(--color-amaranth);
}

/* ConfirmationModal */

.modal-amount {

}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-message {
  font-family: "Circular";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--color-rhino-60);
  padding: 50px 50px 25px;
}

.modal-buttons {
  margin-bottom: 34px;
}

.modal-button {
  height: 42px;
  width: 132px;
  color: var(--color-caribbean-green);
  color: white;
  border: none;
}

.modal-button-no {
  composes: modal-button;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-button-yes {
  composes: modal-button;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--color-ocean-green);
}
