/* Buttons & Icons */

.add-icon {
  display: inline-flex;
  flex: 1;
  background: #FFF;
  width: 15px;
  border-radius: 8px;
  margin: 2px 8px 0px -6px;
}

.button-text {
  display: inline-flex;
  flex: 1;
  margin: 0px;
}

.button {
  flex: 1;
  flex-basis: content;
  font-weight: normal;
  padding: 10px 5px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.selected {
  color: #2C405A;
  text-decoration: underline 2px solid #0DC39F;
}

.button-divide {
  border: 1px solid rgba(44, 64, 90, 0.5);
  transform: rotate(90deg);
  width: 45px;
  position: relative;
  top: 19px;
  margin: -3px;
}

.button-link {
  flex: 1;
  text-decoration: none;
  margin: -3px;
}

.green-classic-btn {
  color: white;
  background-color: #0DC39F;
  padding: 8px;
  margin: 12px 0px;
  margin-left: auto;
  border-radius: 100px;
  box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.1);
}

.new-transaction-button {
  composes: green-classic-btn;
  font-size: 13px;
  line-height: 15px;
  width: 175px;
  padding: 8px;
}


.new-transaction-button-mini {
  font-size: 13px;
  line-height: 15px;
  width: 175px;
  padding: 8px;
}

/* Null State */

.null-state-message {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 2em;
}


/* Transaction Row */

.transaction-list {
  margin: 0px;
}

.transaction-row {
  display: flex;
  border-bottom: 1px solid rgba(44, 64, 90, 0.1);
  font-size: 14px;
  padding: 10px 20px 15px;
  background-color: #FFFFFF;
  justify-content: space-between;
  /* width: 80px; */
  transition: transform 1s ease-in-out;
}

/* Avatar and Description Cells */

.avatar {
  width: 50px;
  flex: .75;
  margin: 0px 10px;
  font-size: 12px;
  align-self: center;
}

.description-cell {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.counterparty {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 1px !important;
  color: rgba(44, 64, 90, 0.8);
}

.story {
  color: rgba(44, 64, 90, 0.5);
  margin-bottom: 3px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
}

.notes {
  font-style: italic;
  color: var(--color-gray);
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* AmountCell */

.amount-cell {
  display: flex;
  flex: 1.8;
  flex-direction: column;
}

.amount {
  flex: 1;
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  font-size: 14px;
  line-height: 19px;
}

.balance {
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  color: var(--color-gray);
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.credit {
  color: #0DC39F;
}

.debit {
  color: #EE4266;
}


/* ActionsCell */

.reveal-actions-button  {
  flex: 0;
  border: none;
  padding: 5px;
  background-color: #FFFFFF;
}

.forward-icon {
  width: 22px;
  height: 22px;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
}

.forward-icon:hover {
  opacity: 1;
}

.actions {
  display: flex;
  flex-direction: row nowrap;
}

.drawer {
  position: absolute;
  top: 0;
  right: 0px;
  /* right: -80px; */
  bottom: 0;
  z-index: 98;
}reveal-actions-button

.drawer--open .actions {
  transform: translateX(100%);
  flex:1 1 400px;  
}

.accept-button {
  composes: button;
  color: white;
  background-color: #23CC80;
}

.pay-button {
  composes: button;
  color: white;
  background-color: #23CC80;
}

.reject-button {
  composes: button;
  color: white;
  background-color: #EE4266;
}

/* Modal */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(44, 64, 90, 0.6);
}

.modal-text {
  font-size: 14px;
  margin-bottom: 30px;
}

.modal-counterparty {
  font-weight: bold;
}

.modal-amount {
  font-weight: bold;
}

.modal-buttons {
  composes: green-classic-btn;
  margin-top: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  color: #FFFFFF;
  justify-content: space-evenly;
  align-self: flex-start;
}

.modal-button {
  flex: 1;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 19px;
  padding: 11px 8px;
  text-decoration: none;
  border: none;
  font-weight: normal;
}

.modal-offer-link {
  composes: modal-button;
}

.modal-request-link {
  composes: modal-button;
}

.modal-button-no {
  composes: modal-button;
  background-color: #0DC39F;
}

.modal-button-yes {
  composes: modal-button;
  background-color: #0DC39F;
}

.modal-muted-btn {
  background-color: #05a484;
}

/* .ReactModal__Overlay .ReactModal__Overlay--after-open {
  background-color: rgba(44, 64, 90, 0.3);
} */