/* Buttons & Icons */

.add-icon {
  display: inline-flex;
  flex: 1;
  background: #FFF;
  width: 15px;
  border-radius: 8px;
  margin: 2px 8px 0px -6px;
}

.button-text {
  display: inline-flex;
  flex: 1;
  margin: 0px;
}

.button {
  flex: 1;
  flex-basis: content;
  font-weight: normal;
  padding: 10px 5px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.selected {
  color: #2C405A;
  text-decoration: underline 2px solid #0DC39F
}

.new-transaction-button {
  color: white;
  background-color: #0DC39F;
  font-size: 13px;
  line-height: 15px;
  width: 175px;
  padding: 8px;
  margin: 12px 0px;
  margin-left: auto;
  border-radius: 100px;
  box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.1);
}

/* Transaction Row */

.transaction-list {
  margin: 0px;
}

.transaction-row {
  display: flex;
  border-bottom: 1px solid rgba(44, 64, 90, 0.1);
  font-size: 14px;
  padding: 10px 20px 15px;
  background-color: #FFFFFF;
  justify-content: space-between;
}

/* Avatar and Description Cells */

.avatar {
  width: 50px;
  flex: .75;
  margin: 0px 10px;
  font-size: 12px;
  align-self: center;
}

.description-cell {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.counterparty {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 1px !important;
  color: rgba(44, 64, 90, 0.8);
}

.story {
  color: rgba(44, 64, 90, 0.5);
  margin-bottom: 3px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
}

.notes {
  font-style: italic;
  color: var(--color-gray);
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* AmountCell */

.amount {
  flex: 1.5;
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  font-size: 14px;
  line-height: 19px;
}

.credit {
  color: #0DC39F;
}

.debit {
  color: #EE4266;
}


/* ActionsCell */

.reveal-actions-button  {
  flex: 0;
  border: none;
  padding: 5px;
  background-color: #FFFFFF;
}

.forward-icon {
  width: 22px;
  height: 22px;
  background-color: transparent;
}

.actions {
  display: flex;
  flex-direction: row nowrap;
}

.drawer {
  position: fixed;
  top: 0;
  left: -280px;
  bottom: 0;
  z-index: 98;
}

.drawer--open .actions {
  transform: translateX(100%);
  pointer-events: initial;
}

.accept-button {
  composes: button;
  background-color: lightgreen;
}

.pay-button {
  composes: button;
  color: white;
  background-color: lightcoral;
}

.reject-button {
  border: none;
  text-decoration: underline;
  color: #0000EE;
  background-color: var(--color-alabaster);
  font-weight: normal;
}

/* Modal */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  margin-bottom: 10px;
}

.modal-text {
  font-size: 14px;
  margin-bottom: 30px;
}

.modal-counterparty {
  font-weight: bold;
}

.modal-amount {
  font-weight: bold;
}

.modal-buttons {
  margin-top: auto;
  margin-left: auto;
}

.modal-button {
  border: none;
  text-decoration: underline;
  color: #0000EE;
  font-weight: normal;
}

.modal-button-no {
  composes: modal-button;
}

.modal-button-yes {
  composes: modal-button;
  font-weight: bold;
}
