.happ-list {
  border-bottom: 1px solid lightgray;    
}

.happ-row {
  display: flex;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;  
  border-right: 1px solid lightgray;    
}