.button {
  font-size: 14px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: .7em 1em;
  font-size: 16px;
  line-height: 1.3;
}

.wide {
  display: block;
  width: 100%;
  text-align: center;
}

.plain {
  background-color: #fff;
  color: #333;
}

.primary {
  background-color: var(--color-tundora);
  color: #fff;
}

.secondary {
  background-color: #aaa;
}

.link {
  display: inline-block;
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 1em;
}

.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.disabled {
  opacity: 0.7
}

.mini {
  padding: 0;
}
