.account-ledger-table {
  display: flex;
  flex-direction: column;
}

.completed-transactions-title {
  text-align: center;
  padding: 20px 0px;
}

.completed-transactions-table {
  height: auto
}

table {
  border-spacing: 0px;
}

th, td {
  border-right: none;
}

.completed-tx-col {
  min-width: 50px;
}

.table-header-row {
  background: #939393;
}

.table-headers {
  text-align: center;
  padding: 5px 20px;
}

.table-content-row:nth-of-type(odd) {
  background: #d8d6d6;
}

.table-content {
  text-align: center;
  position: relative;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}