.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--second-color);
}

.linkBox {
  display: block;
}

.testing {
  margin-top: 50px;
  padding: 20px;
  background-color: #ccc;
}
