/* color names come from http://chir.ag/projects/name-that-color/ */

:root {
  --color-tundora: #484848;
  --color-gray: #939393;
  /* color-shocking used in StyleDemo only */
  --color-shocking: #E292C0;
}
