@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(../assets/fonts/lineto-circular-book.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: "Circular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-alabaster);
}

html, body, #root {
  height: 100%;
}

table {
  border-collapse: collapse;
}