.primary-layout {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  height: 100%;
  box-sizing: border-box;
}

.wide {
  padding: 50px;
}

.narrow {
  padding: 25px 20px;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.menu-link {
  padding-bottom: 20px;
  cursor: pointer;
}

.side-menu {
  padding-right: 10px;
}
