.primary-layout {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.wide {
  padding: 50px;
}

.narrow {
  padding: 0px 24px;
}

.alpha-flag {
  position: absolute;
  right: 0px;
  top: 80px;
  z-index: 1
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 40px;
}

.menu-link {
  padding-bottom: 20px;
  cursor: pointer;
}


/* Footer */

.wrapper {
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: 2rem;
  padding: 0px 24px;
}

.wrapper-narrow {
  composes: wrapper;
  margin-bottom: 0rem;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-alabaster-light);
}

.container-wide {
  composes: container;
  width: 26%;
}

.footer {
  flex-shrink: 0;
  justify-self: flex-end;
  margin: 0px 10px;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* text-align: right; */
}

.footer-list-item {
  padding: 4px 0px;
}

.footer-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-rhino-35)
}

/* Alpha Info */

.alpha-info {
  position: relative;
  margin: 0 -32px 0px -32px;
  padding: 32px 10px 8px 10px;
  font-family: 'Circular';
  font-size: 14px;
  line-height: 16px;
  color: var(--color-rhino);
  background-color: #d2f2f5;
  box-shadow: 1px -1.5px 14px rgba(163, 160, 160, 0.5);
}

.alpha-flag {
  position: absolute;
  top: -16px;
  left: 0px;
}

.alpha-link {
  color: var(--color-rhino);
}
