.primary-layout {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.wide {
  padding: 50px;
}

.narrow {
  padding: 0px 24px;
}

.alpha-flag {
  position: absolute;
  right: 0px;
  top: 80px;
  z-index: 1
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 40px;
}

.menu-link {
  padding-bottom: 20px;
  cursor: pointer;
}

.side-menu {
  padding-right: 10px;
}
