.happ-list {
  padding-top: 20px;
}

.pricing-button {
  /* this margin-bottom value is to stop the button being pushed off the screen. there's a better way to do this */
  margin-top: auto;
}

.happ-row {
  display: flex;
  margin-bottom: 30px;
  text-decoration: none;
}

.details {
  flex-grow: 1;
  padding-top: 5px;
  padding-left: 16px;
}

.title-row {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.title {
  font-size: 20px;
  color: var(--color-tundora);
}

.description {
  padding-top: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #939393;
}
