.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--second-color);
}

.header { 
  display: flex;
  padding-bottom: 6px;
  border-bottom: 1px solid lightgray;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--color-tundora);
}

.menu-button {
  margin-left: auto;
}

.happ-list {
  padding-top: 20px;
}

.pricing-button {
  /* this margin-bottom value is to stop the button being pushed off the screen. there's a better way to do this' */
  margin-bottom: 40px;
  margin-top: auto;
  padding: 15px;
  width: 100%;
  background-color: var(--color-tundora);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.happ-row {
  display: flex;
  margin-bottom: 50px;
}

.icon {
  display: block;
  flex: 0 0 140px;  
  height: 140px;
  box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.5);
  border-radius: 10px;
}

.details {
  padding-top: 8px;
  padding-left: 25px;
}

.title-row {
  display: flex;
  margin-bottom: 5px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-tundora);  
}

.description {
  margin-top: 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #939393;
}

.host-button {
  margin-left: auto;
  color: white;
  background-color: var(--color-tundora);
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  min-width: 67px;
  height: 26px;
}

.unhost {
  color: var(--color-tundora);
  background-color: #CDCDCD;
}