.help-text {
  margin-top: 20px;
  font-size: 13px;
  color: var(--color-gray);
}

.offer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  flex-grow: 1;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 32px;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-tundora);
  width: 150px;
  text-align: right;
}

.form-input {
  border: 1px solid var(--color-gray);
  height: 25px;
  margin: 0px 10px;
  padding: 0px 5px;
  font-size: 16px;
  color: var(--color-dove-gray);
}

.hash-and-nick {
  width: 150px;
  display: flex;
  margin-top: 3px;
}

.hash-icon {
  margin-right: 5px;
}

.number-input {
  composes: form-input;
  text-align: right;
}

.readonly-input {
  composes: number-input;
  border: none;
  background-color: var(--color-alto);
}

.hf {
  composes: form-label;
  text-align: left;
}

.notes-input {
  border: 1px solid var(--color-gray);
  font-family: "Roboto";
  font-size: 16px;
  width: 340px;
  height: 100px;
  align-self: center;
  margin-top: 50px;
}

.send-button {
  justify-self: flex-end;
  margin-top: auto;
  height: 54px;
  font-size: 24px;
}
