.left-nav {
  flex: 1.3 1;
  display: flex;
}

.center-nav {
  flex: 1;
}

.right-nav {
  flex: 1;
}

.back-button {
  border: none;
  display: flex;
  align-content: center;
  background-color: #FFFFFF;
  color: #000000;
  /* background-color: rgb(200,200,200); */
  /* color: var(--color-gray); */
}

.back-icon {
  width: 14px;
  height: 14px;
  margin-top: 6px;
  margin-right: 5px;
}

.back-text {
  font-size: 14px;
  padding: 5px;
}

.menu-button {
  position: relative;
  z-index: 99;
  border: none;
  padding: 5px;
  background-color: #FFFFFF;
  /* background-color: var(--color-tundora); */
}

.menu-icon {
  width: 22px;
  height: 22px;
  background-color: #FFFFFF;
  /* background-color: var(--color-tundora); */
}

.header {
  height: 50px;
  padding: 5px 10px;
  align-items: center;
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(27.1828px);
  /* background-color: var(--color-tundora); */
}

.header-font {
  font-style: normal;
  font-weight: bold;
  flex-grow: 1;
  line-height: 28px;
  font-size: 16px;
  color: #000000
  /* color: rgb(200,200,200); */
}

.title {
  text-align: center;
}

/* We should turn this into a design-system component */
.nav-badge {
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  right: -15px;
  color: #FFF;
  background-color: #cf2a27;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset,
    0 0 0 1px rgba(0, 0, 0, .25);
  font-size: .7em;
  min-width: 30px;
  line-height: 14px;
  text-align: center;
  border-radius: 9999px;
  font-weight: 700;
  padding: 8px;
}

.account-number {
  text-align: right;
  margin: 10px;
}

.avatar-link {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.page-header {
  text-align: center;
  color: #000000;
  padding: 10px;
  border: none;
  background-color: #FFFFFF; /* rgb(140,140,140); */
  /* background-image: linear-gradient(rgb(100,100,100), rgb(255,255,255)); */
}

.page-title {
  /* font-size: 20px; */
}

.empty-spacer {
  flex: 1;
}
