.left-nav {
  flex: 1.33 1;
  display: flex;
}

.center-nav {
  flex: 1;
}

.right-nav {
  flex: 1;
}

.back-button {
  border: none;
  display: flex;
  align-content: center;
  background-color: white;
  color: black;
}

.back-icon {
  width: 14px;
  height: 14px;
  margin-top: 6px;
  margin-right: 5px;
}

.back-text {
  font-size: 14px;
  padding: 5px;
}

.menu-button {
  position: relative;
  z-index: 99;
  border: none;
  padding: 5px;
  background-color: white;
}

.menu-icon {
  width: 22px;
  height: 22px;
  background-color: white;
}

.header {
  height: 50px;
  padding: 5px 10px;
  align-items: center;
  display: flex;
  background-color: white;
  box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(27.1828px);
}

.header-font {
  font-style: normal;
  font-weight: bold;
  flex-grow: 1;
  font-size: 16px;
  color: black
}

.title {
  text-align: center;
}

/* We should turn this into a design-system component */
.nav-badge {
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  right: -15px;
  color: #FFF;
  background-color: #cf2a27;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset,
    0 0 0 1px rgba(0, 0, 0, .25);
  font-size: .7em;
  min-width: 30px;
  line-height: 14px;
  text-align: center;
  border-radius: 9999px;
  font-weight: 700;
  padding: 8px;
}

.account-number {
  text-align: right;
  margin: 10px;
}

.avatar-link {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.page-header {
  text-align: center;
  color: black;
  padding: 10px;
  border: none;
  background-color: white;
}

.page-title {
  /* */
}

.empty-spacer {
  flex: 1;
}
