.flash-message {
  position: fixed;  
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: var(--color-caribbean-green);
  opacity: 0.9;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  border-radius: 4px;
  z-index: 30;
  color: white;
  text-align: center;
  width: 98vw;
}

.flash-body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-left: 30px;
}

.desktop-body {
  margin: 0 auto;
}

.message {
  margin: 0 auto;
  text-align: center;
}

.close-button {
  font-size: 20px;
  margin-top: -5px;
  padding: 0px 15px 5px;
  border: none;
  color: white;
  background: transparent;
  align-self: start;
}