.flash-message {
  position: fixed;  
  display: flex;
  background-color: var(--color-sweet-corn);
  opacity: 0.9;
  padding: 15px;
  margin-right: 30px;
  margin-left: 10px;
  align-items: center;
  align-self: center;
  border-radius: 4px;
  z-index: 30;
}

.message {

}

.close-button {
  font-size: 20px;
  padding: 5px 10px;
}