.primary-layout {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  height: 100%;
  box-sizing: border-box;
}

.wide {
  padding: 0;
}

.narrow {
  padding: 0;
}

.alpha-flag {
  position: absolute;
  right: 0px;
  top: 80px;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--color-alabaster);
  position: relative;
}

.menu-link {
  padding-bottom: 20px;
  cursor: pointer;
}

.side-menu {
  padding-right: 10px;
}

.iceburg {
  background-color: var(--color-iceberg);
}