.primary-layout {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
}

.alpha-flag {
  position: absolute;
  right: 0px;
  top: 80px;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--color-alabaster);
  position: relative;
}

.menu-link {
  padding-bottom: 20px;
  cursor: pointer;
}

.side-menu {
  padding-right: 10px;
}

.hosted-landing-overlay {
  opacity: 0.3;
  /* nb: blur effect doesn't work in edge 12 or IE */
  filter: blur(100px);
  -webkit-filter: blur(100px);
}

.text {
  color: var(--color-caribbean-green);
  font-family: 'Circular';
  font-size: 20px;
  margin: 0 auto;
  margin-top: 75px;
}
/* connection text #389ea6 */