.primary-layout {
  display: flex;
  word-break: break-word;
  justify-content: center;
  height: 100%;
}

.wide {
  padding: 50px;

  /* empty */
}

.narrow {
  padding: 25px 20px;  
}

.menu-link {
  padding-bottom: 20px;
  cursor: pointer;
}

.side-menu {
  padding-right: 10px;
}