.recent-counterparties {

}

.header {
  margin: 0px -20px;
  background-color: #ddd;
  padding: 3px 30px;
  font-size: 14px;
  color: #555;
}

.agent-row {
  display: flex;
  margin: 0px -20px;
  padding: 10px 20px;
  align-items: center;
}

.selected {
  background-color: #ddd;
}

.avatar {
  margin-right: 30px
}

.name-and-id {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.name {
  color: #555;
  font-weight: bold;
}

.id {
  color: #999;
  font-style: italic;
}

.selected-indicator {
  margin-left: auto;
  color: #999;
  font-size: 12px;
}
