.help-text {
  margin-top: 20px;
  font-size: 13px;
  color: var(--color-gray);
  text-align: center;
}

.mode-toggle {
  display: flex;
  justify-content: center;
}

.mode-toggle-button {
  margin: 0 5px;
}

.selected {
  background-color: var(--color-caribbean-green);
}

.offer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  flex-grow: 1;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 32px;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-tundora);
  width: 150px;
  text-align: right;
}

.form-input {
  border: 1px solid var(--color-gray);
  height: 25px;
  margin: 0px 10px;
  padding: 0px 5px;
  font-size: 16px;
  color: var(--color-dove-gray);
}

.hash-and-nick {
  width: 150px;
  display: flex;
  margin-top: 3px;
}

.hash-icon {
  margin-right: 5px;
}

.number-input {
  composes: form-input;
  text-align: right;
}

.readonly-input {
  composes: number-input;
  border: none;
  background-color: var(--color-alto);
}

.hf {
  composes: form-label;
  text-align: left;
}

.notes-input {
  border: 1px solid var(--color-gray);
  font-family: "Roboto";
  font-size: 16px;
  width: 340px;
  height: 100px;
  align-self: center;
  margin-top: 50px;
}

.recent-counterparties {
  margin-top: 40px;
}

.send-button {
  justify-self: flex-end;
  margin-top: auto;
  height: 54px;
  font-size: 24px;
}

/* AmountInput */

.amount-input-container {
  height: 100%;
  width: 100%;
  background-color: var(--color-caribbean-green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amount-input-amount {
  margin-top: 64px;
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
  background-color: var(--color-caribbean-green);
  color: white;
  border: none;
}

.numpad {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}

.numpad-row {
  display: flex;
}

.numpad-button {
  font-size: 24px;
  color: var(--color-iceberg);
  background-color: var(--color-caribbean-green);
  padding: 32px 0px;
  width: 78px;
  text-align: center;
  border: none;
}

.action-row {
  display: flex;
}

.action-button {
  font-size: 16px;
  width: 128px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}
