.button {
  font-family: 'Circular';
  font-size: 13px;
  line-height: 15px;  
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: .7em 1em;
  font-size: 16px;
  line-height: 1.3;
}

.white {
  background: white;
  border: 1px solid var(--color-caribbean-green);
  color: var(--color-caribbean-green);
}

.green {
  color: white;
  background: var(--color-caribbean-green);
}

.disabled {
  opacity: 0.6;
}