.transaction-list {
  margin: 0px -20px;
}

.transaction-row {
  display: flex;
  border-bottom: 1px solid black;
  font-size: 14px;
  padding: 10px 10px 15px 10px;
}

.date {
  width: 50px;
  margin-right: 10px;
}

.description-cell {
  display: flex;
  flex-direction: column;
}

.story {
  margin-bottom: 3px;
}

.counterparty {
  font-weight: bold;
}

.notes {
  font-style: italic;
  color: var(--color-gray);
}

.amount {
  margin-left: auto;
  margin-right: 10px;
}

.debit {
  color: red;
}

.actions {
  display: flex;
  flex-direction: column;
}

.button {
  font-weight: normal;
  border: 1px solid black;
  padding: 5px;
  width: 75px;
  margin-bottom: 10px;
}

.accept-button {
  composes: button;
  background-color: lightgreen;
}

.pay-button {
  composes: button;
  color: white;
  background-color: lightcoral;
}

.reject-button {
  border: none;
  text-decoration: underline;
  color: #0000EE;
  font-weight: normal;
}
