.left-nav {
  flex: 1;
  padding-bottom: 6px;
}

.back-button {
  border: none;
  display: flex;
  align-content: center;
  color: var(--color-gray);
}

.back-icon {
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-right: 5px;
}

.back-text {
  font-size: 16px;
}

.menu-button {
  border: none;
}

.menu-icon {
  width: 22px;
  height: 22px;  
}

.header { 
  display: flex;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-gray);
}

.empty-spacer {
  flex: 1;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--color-tundora);
}
