.left-nav {

}

.header {
  display: flex;
  background-color: white;
  margin: 0px -24px 0px -24px;
  padding: 10px 24px 5px 24px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.1);
}

.menu-button {
  border: none;
  padding: 5px;
  background-color: white
}

.menu-icon {
  width: 22px;
  height: 22px;
  background-color: white;
}

.title {

}

.avatar-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
