.drawer {
  position: fixed;
  top: 0;
  left: -280px;
  bottom: 0;
  z-index: 98;
}

.drawer--open {

}

.container {
  box-sizing: border-box;
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 22px 20px;
  background-color: var(--color-alabaster-light);
  transform: translateX(-10%);
  transition: transform .3s ease;
  box-shadow: 0px 9.5px 10px rgba(0, 0, 0, 0.5);
  will-change: transform;
  pointer-events: none;
}

.drawer--open .container {
  transform: translateX(100%);
  pointer-events: initial;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  will-change: opacity;
  transition: opacity .3s ease;
  pointer-events: none;
}

.drawer--open .drawer-overlay {
  opacity: .5;
  pointer-events: initial;
}

.header {
  text-align: center;
  border-bottom: 1px solid var(--color-loblolly);
  padding-bottom: 20px;
}

.host-name {

}

.settings-link {
  margin-top: 12px;
  font-family: 'Circular';
  font-size: 14px;
  line-height: 16px;
  color: var(--color-cape-cod);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-cape-cod);
}

.gear-icon {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 2px;
}

.nav {
  color: #fff;
}

/* Header */

.appName {
  font-weight: 700;
  font-size: 32px;
}

.avatar {
  margin: 12px 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

.header-account {
  display: block;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 600;
}

.header-balance {
  display: block;
  font-size: 16px;
  font-weight: 700;
}

/* Nav */

.nav-list {
  padding: 0;
  list-style-type: none;
  margin: 15px 10px;
}

.nav-link {
  display: block;
  padding: 10px 0;
  color: var(--color-outerspace);
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;  
  letter-spacing: -0.05px;
  font-weight: 500;
}

.alpha-info {
  position: relative;
  margin: 0 -32px 60px -32px;
  padding: 30px 16px;
  font-family: 'Circular';
  font-size: 14px;
  line-height: 16px;
  color: var(--color-rhino);
  background-color: var(--color-iceberg);
}

.alpha-flag {
  position: absolute;
  top: -16px;
  left: 0px;
}

.alpha-link {
  color: var(--color-rhino);
}

/* Footer */

.footer {
  justify-self: flex-end;
  margin: auto 10px 0px 10px;
}

.footer-list {
  padding: 0;
  list-style-type: none;
}

.footer-list-item {
  padding: 4px 0px;
}

.footer-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-caribbean-green)
}
