/* Headers / Title */
.account-ledger-table {
  display: flex;
  flex-direction: column;
  margin: 20px -20px;
}

/* Table */
.completed-transactions-table {
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.completed-transactions-table table {
  border-spacing: 0px;
}

.completed-transactions-table th,
.completed-transactions-table td {
  border-right: none;
}

.completed-tx-col {
  min-width: 50px;
}

.table-header-row {
  background: #939393;
}

.table-headers {
  text-align: center;
  padding: 5px 20px;
}

.table-content-row:nth-of-type(odd) {
  background: #d8d6d6;
}

.pending-transaction {
  filter: opacity(70%);
}

.table-content {
  text-align: center;
  position: relative;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.italic {
  font-style: italic
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

/* Buttons */
.cancel-button {
  border: none !important;
  text-decoration: underline;
  color: #0000EE !important;
  background-color: transparent !important;
  font-weight: normal !important;
}

/* Modal */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  margin-bottom: 10px;
}

.modal-text {
  font-size: 14px;
  margin-bottom: 30px;
}

.modal-counterparty {
  font-weight: bold;
  white-space: nowrap;
}

.modal-amount {
  font-weight: bold;
}

.modal-buttons {
  margin-top: auto;
  margin-left: auto;
}

.modal-button, .modal-button-no, .modal-button-yes {
  border: none !important;
  text-decoration: underline;
  color: #0000EE !important;
  font-weight: normal !important;
  margin: 2px 10px;
}

.modal-button-yes {
  font-weight: bold;
}
