.balance {
  text-align: center;
  margin-bottom: 30px;
}

.balance-label {
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
}

.balance-amount {
  font-size: 24px;
  color: #555;
  font-weight: bold;
}

.transactions-empty {
  border: 1px solid black;
  border-radius: 4px;
  background-color: lightgray;
  height: 120px;
  padding-top: 80px;
  margin: 50px 30px 0px 30px;
  text-align: center;
  font-size: 12px;
}

.transactions {
  margin-top: 20px;
}

.partition-label {
  font-size: 14px;
  background-color: lightgray;
  margin: 0px -20px;
  padding-left: 30px;
}

/* TransactionRow */
.transaction-row {
  display: flex;
  margin: 0px -20px;
  padding: 10px 20px;
  align-items: center;  
}

.not-first-row {
  border-top: 2px solid #DDD;
}

.avatar {
  margin-right: 20px;
}

.name-and-notes {

}

.name {
  font-weight: bold;
  color: #555;
  font-size: 16px;
}

.notes {
  font-style: italic;
  color: #888;
  font-size: 14px;
}

.amount-and-balance {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount {
  font-weight: bold;
  color: #555;
  font-size: 14px;
}

.transaction-balance {
  font-style: italic;
  color: #AAA;
  font-size: 14px;
}

/* CancelButton */
.cancel-button {
  color: white;
  border-radius: 50%;
  background-color: red;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 10px;
}

/* Modal */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  margin-bottom: 10px;
}

.modal-text {
  font-size: 14px;
  margin-bottom: 30px;
}

.modal-counterparty {
  font-weight: bold;
  white-space: nowrap;
}

.modal-amount {
  font-weight: bold;
}

.modal-buttons {
  margin-top: auto;
  margin-left: auto;
}

.modal-button, .modal-button-no, .modal-button-yes {
  border: none !important;
  text-decoration: underline;
  color: #0000EE !important;
  font-weight: normal !important;
  margin: 2px 10px;
}

.modal-button-yes {
  font-weight: bold;
}

/* FilterButtons */

.filter-buttons {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  align-self: center;
}

.filter-button {
  background-color: #DDD;  
  padding: 3px 15px;
  font-size: 14px;
}

.filter-button:not(:last-child)  {
  border-right: 1px solid black;
}

.selected {
  background-color: lightsteelblue;
}