.greeting {

}

.button-row {
  display: flex;
}

.balance-and-transactions {

}

.balance {

}

.balance-header {
  display: flex;
}

.balance-label {

}

.balance-arrow {

}

.balance-amount {

}

.transactions {

}

.transactions-label {
  
}

.transactions-empty {
  
}

.transaction-list {
  margin: 10px -20px 0;
}

/* TransactionRow */

.transaction-row {
  display: flex;
  border-bottom: 1px solid black;
  font-size: 14px;
  padding: 10px 20px 15px;
}

.counterparty-amount-row {
  font-weight: bold;
}

.counterparty {

}

.amount {

}

.notes {
  font-style: italic;
  color: var(--color-gray);
}