.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;  
  position: relative;
}

.backdrop {
  background-color: var(--color-iceberg);
  height: 324px;
  right: 0;
  top: 0;
  left: 0;
  z-index: -10;
  position: absolute;
}

.avatar {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}

.greeting {
  text-align: center;
  color: var(--color-rhino-80);
  margin-bottom: 24px;
}

.balance-and-transactions {
  border-radius: 4px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 20px;
  position: relative;
}

.balance-link {
  color: black;
  text-decoration: none;
}

.balance {
  background-color: var(--color-caribbean-green);
  padding: 46px 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.balance-label {
  color: white;
  text-align: center;
}

.balance-row {
  display: flex;
  align-items: center;
}

.balance-amount {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.balance-arrow {
  color: white;
  margin-left: auto;
}

.new-transaction-button {
  width: 212px;
  height: 42px;
  display: flex;
  align-items: center;
  align-self: center;

  color: var(--color-caribbean-green);
  background-color: white;
  border-radius: 100px;
  border: 0;
  box-shadow: 0px 2.5px 10px rgba(44, 64, 90, 0.15);
  font-size: 16px;

  position: fixed;
  margin-top: 137px;
} 

.plus-icon {
  position: fixed;
}

.new-transaction-text {
  margin: auto;
}

.transactions {
  padding: 25px;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-grow: 1;
}

.transactions-empty {
  margin-top: 80px;
  text-align: center;
  font-size: 18px;
  color: var(--color-rhino-60);
}


.transactions-label {
  color: var(--color-rhino);
  margin-top: 30px;
  margin-bottom: 20px;
}

.transaction-list {

}

/* TransactionRow */

.transaction-row {
  margin-bottom: 18px;
}

.counterparty-amount-row {
  display: flex;
}

.counterparty {
  font-size: 16px;
  color: var(--color-rhino-80);
}

.amount {
  margin-left: auto;
  font-size: 16px;
  color: var(--color-rhino-80);
}

.notes {
  font-size: 14px;
  color: var(--color-rhino-60);
}